#img1id {
    position: absolute;
    top: 0px;
    z-index: 1;
    margin: 0 auto;

}

#pic-display {
    height: 100%;
}

.equal {
    display: flex;
    display: -webkit-flex;
}

.cropArea {
    background: #E4E4E4;
    overflow: hidden;
    width:800px;
    height:600px;
}
form .progress {
    line-height: 15px;
}
.progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
}
.progress div {
    font-size: smaller;
    background: orange;
    width: 0;
}
