<!DOCTYPE html>
<html>
<head>
    <title> Pizza Pic </title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./css/master.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.2.13/ng-file-upload.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ng-img-crop/0.3.2/ng-img-crop.js" charset="utf-8"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/ng-img-crop/0.3.2/ng-img-crop.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-img-cropper/1.1.0/angular-img-cropper.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/ng-dialog/1.1.0/css/ngDialog-theme-default.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/ng-dialog/1.1.0/css/ngDialog.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/ng-dialog/1.1.0/js/ngDialog.min.js" charset="utf-8"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-base64/2.0.5/angular-base64.min.js" charset="utf-8"></script>

    <script src="./nocdnlib/webcam.min.js" charset="utf-8"></script>
    <script src="./js/pizza_app.js" charset="utf-8"></script>
</head>
<body ng-app="pizza_app">
    <div ng-controller="ctrl_main">
        <div class="page-header text-center" style="height: 2"> <h1>Filter Simulator</h1> </div>
        <div class="container">
            <div class="row equal">
                <div class="col-sm-6 well">
                    <div class="row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-8">
                    	    <div class="row">
                                <img id="img2id" class="img-responsive center-block" ng-src="{{img2}}" alt="">
                                <img id="img1id" class="img-responsive center-block" ng-src="{{img1}}" alt="">
                                <div class="btn-group btn-group-justified">
                                    <a herf="#" type="button" ng-click="ng_webcam()" class="btn btn-primary">Webcam</a>
                                    <a herf="#" type="button" ng-click="ng_del()" class="btn btn-primary">Picture</a>
                                </div>
                    	    </div>
                        </div>
                    </div>
	                <div class="col-sm-2"></div>
                </div>
                <div class="col-sm-6 well">
                    <pre>{{article}}</pre>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
