<html>
  <head></head>
  <body>
    <form name="myForm" ng-controller="ctrl_fileupload">
        <div ngf-drop ng-model="picFile" ngf-pattern="image/*" class="cropArea">
            <div>
                <div>
                    <canvas width="500" height="300" id="canvas" image-cropper image="picFile | ngfDataUrl" cropped-image="cropper.croppedImage" crop-width="671" crop-height="1024" keep-aspect="true" touch-radius="30" crop-area-bounds="bounds"></canvas>
                </div>
                <div>Cropped Image (Left: {{bounds.left}} Right: {{bounds.right}} Top: {{bounds.top}} Bottom: {{bounds.bottom}})</div>
                <div ng-show="cropper.croppedImage!=null"><img ng-src="{{cropper.croppedImage}}" /></div>
            </div>
        </div>
        <!--div>
            <img ng-src="{{cropper.croppedImage}}" />
        </div-->
	<div class="container row">
	  <button class="col-sm-2 btn btn-info" ngf-select ng-model="picFile" accept="image/*">
            Select Picture
          </button>
          <button class="col-sm-2 btn btn-primary" ng-click="upload(cropper.croppedImage, picFile.name)">Push Picture</button>
          <!--span class="col-sm-1" ng-show="result">Upload Successful</span-->	  
	  <div class="row dialog-contents">
	    <input class="btn btn-default" type="button" value="Close" ng-click="closeThisDialog(0)"/>
	  </div>
          <span class="err" ng-show="error_msg">{{error_msg}}</span>
	</div>
	<div class="container row">
	  <span class="col-sm-8 progress" ng-show="progress >= 0">
            <div style="width:{{progress}}%" ng-bind="progress + '%'"></div>
          </span>
	</div>
    </form>
  </body>
</html>
