<html>
  <head></head>
  <body>
    <form name="myForm" ng-controller="ctrl_fileupload">
        <div>Crop Image and Upload</div>
        <button ngf-select ng-model="picFile" accept="image/*">
            Select Picture
        </button>
        <div ngf-drop ng-model="picFile" ngf-pattern="image/*" class="cropArea">
            <!--img-crop image="picFile | ngfDataUrl"
                result-image="croppedDataUrl" ng-init="croppedDataUrl=''">
            </img-crop-->
            <div>
                <div>
                    <canvas width="500" height="300" id="canvas" image-cropper image="picFile | ngfDataUrl" cropped-image="cropper.croppedImage" crop-width="671" crop-height="1024" keep-aspect="true" touch-radius="30" crop-area-bounds="bounds"></canvas>
                </div>
                <div>Cropped Image (Left: {{bounds.left}} Right: {{bounds.right}} Top: {{bounds.top}} Bottom: {{bounds.bottom}})</div>
                <div ng-show="cropper.croppedImage!=null"><img ng-src="{{cropper.croppedImage}}" /></div>
            </div>
        </div>
        <!--div>
            <img ng-src="{{cropper.croppedImage}}" />
        </div-->
        <button ng-click="upload(cropper.croppedImage, picFile.name)">Submit</button>
        <span class="progress" ng-show="progress >= 0">
            <div style="width:{{progress}}%" ng-bind="progress + '%'"></div>
        </span>
        <span ng-show="result">Upload Successful</span>
	
	<div class="dialog-contents">
	  <input type="button" value="OK" ng-click="closeThisDialog(0)"/>
	</div>
	<p>External scope: <code>{{img2}}</code></p>
        <span class="err" ng-show="error_msg">{{error_msg}}</span>
    </form>
  </body>
</html>
